.navbar {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 23px;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0;
    height: 2px;
    background-color: rgb(65, 143, 179);
    transition: width 0.3s ease;
}

.navbar a:hover {
    background: transparent;
    color: rgb(65, 143, 179);
}

.navbar a:hover::after {
    width: 100%;
}
/* END OF NAVBAR  */
